* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::before,
*::after{
  box-sizing: border-box;
}



:root {
  --primaryColor: #4ab0f0;
  --backgroundColor: #fdfdfd;
  --secondaryColor: #1a1a23;
  --cardColor: #ffffff;
  --secondaryColorVariant : #44444b;
  --grayText : #cacaca;
  --inputBackground : #f1f1f1;
  --inputTextColor : #6e6e6e;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#root {
  width: 100vw;
  height: 100vh;
  background-color: var(--backgroundColor);
}

li{
  list-style: none;
  text-decoration: none;
}
